Imports

In [3]:
import numpy as np
import pandas as pd

Init. a panda series, print, and print where null

In [21]:
string_data = pd.Series(['bluh', 'idk', np.nan, 'food'])
print(string_data)
print(string_data.isnull())

0    bluh
1     idk
2     NaN
3    food
dtype: object
0    False
1    False
2     True
3    False
dtype: bool

Make second value None

In [22]:
string_data[1] = None
string_data.isnull()

0    False
1     True
2     True
3    False
dtype: bool

make a series with some NaNs, drop them and return using mask of where Nan

In [23]:
from numpy import nan as NA
data = pd.Series([1, NA, 3, NA, NA])
data.dropna()

0    1.0
2    3.0
dtype: float64

Create an array with some NaNs, get rid of them

In [25]:
data = pd.DataFrame([[1., 6, 1], [1., NA, NA], [2, NA, 4], [NA, 2, 95]])
cleaned = data.dropna()

Print the old and new data

In [26]:
print(data)
print(cleaned)

     0    1     2
0  1.0  6.0   1.0
1  1.0  NaN   NaN
2  2.0  NaN   4.0
3  NaN  2.0  95.0
     0    1    2
0  1.0  6.0  1.0

Drop only rows with all NaNs

In [27]:
data.dropna(how='all')

     0    1     2
0  1.0  6.0   1.0
1  1.0  NaN   NaN
2  2.0  NaN   4.0
3  NaN  2.0  95.0

Make a new column with value NaN, print then drop where a colunm has all NaNs

In [28]:
data[4] = NA
print(data)
print(data.dropna(axis=1, how='all'))

     0    1     2   4
0  1.0  6.0   1.0 NaN
1  1.0  NaN   NaN NaN
2  2.0  NaN   4.0 NaN
3  NaN  2.0  95.0 NaN
     0    1     2
0  1.0  6.0   1.0
1  1.0  NaN   NaN
2  2.0  NaN   4.0
3  NaN  2.0  95.0

Make a random dataframe with height 6 width 3, make the first 3 rows of colum 1 NaN and first 4 of column 2 NaN

In [29]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[:3, 1] = NA
df.iloc[:4, 2] = NA

Print the dataframe: regular, without NaNs, and without two or more NaNs in row

In [30]:
print(df)
print(df.dropna())
print(df.dropna(thresh=2))

          0         1         2
0  2.568804       NaN       NaN
1 -0.612426       NaN       NaN
2 -0.159677       NaN       NaN
3 -0.959538 -0.272048       NaN
4  0.492138  0.827672  1.447993
5  0.614904  0.775253 -0.794893
          0         1         2
4  0.492138  0.827672  1.447993
5  0.614904  0.775253 -0.794893
          0         1         2
3 -0.959538 -0.272048       NaN
4  0.492138  0.827672  1.447993
5  0.614904  0.775253 -0.794893

Fill NaNs with 0, Fill NaNs in column 1 with 1 and column 2 with 2

In [31]:
df.fillna(0)
df.fillna({1: 1, 2: 2})

          0         1         2
0  2.568804  1.000000  2.000000
1 -0.612426  1.000000  2.000000
2 -0.159677  1.000000  2.000000
3 -0.959538 -0.272048  2.000000
4  0.492138  0.827672  1.447993
5  0.614904  0.775253 -0.794893

Make a random dataframe height 9 width 3, make the last 1 of column 1 NaN and last 3 of column 3 NaN, print regular, with method ffill and with method ffill but only nearest 2

In [20]:
df = pd.DataFrame(np.random.randn(9, 3))
df.iloc[1:, 1] = NA
df.iloc[3:, 4] = NA

print(df)
print(df.fillna(method='ffill'))
print(df.fillna(method='ffill', limit=2))

          0         1         2
0  1.024639  0.854535 -0.190839
1  0.359319  1.345501 -0.638144
2 -2.446938       NaN -0.722223
3 -0.103558       NaN -0.412843
4 -0.059757       NaN       NaN
5 -0.992275       NaN       NaN
          0         1         2
0  1.024639  0.854535 -0.190839
1  0.359319  1.345501 -0.638144
2 -2.446938  1.345501 -0.722223
3 -0.103558  1.345501 -0.412843
4 -0.059757  1.345501 -0.412843
5 -0.992275  1.345501 -0.412843
          0         1         2
0  1.024639  0.854535 -0.190839
1  0.359319  1.345501 -0.638144
2 -2.446938  1.345501 -0.722223
3 -0.103558  1.345501 -0.412843
4 -0.059757       NaN -0.412843
5 -0.992275       NaN -0.412843

C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3662238028.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill'))
C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3662238028.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill', limit=2))

Make a dataframe with some NaNs and fill in the NaNs with the mean

In [32]:
data = pd.Series([1., NA, 3.5, 3, NA])
data.fillna(data.mean())

0    1.0
1    2.5
2    3.5
3    3.0
4    2.5
dtype: float64

Make a dataframe using string concats duplicate them drop the duplicate

In [35]:
data = pd.DataFrame({'k1': ['one'] * 4 + ['one', 'two', 'three'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data.duplicated()
data.drop_duplicates()

      k1  k2
0    one   1
2    one   2
3    one   3
5    two   4
6  three   4

Add a column with name v1 and drop the duplicates k1

In [36]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

      k1  k2  v1
0    one   1   0
5    two   4   5
6  three   4   6

Create a dataframe with some values and a more general category to which they belong, regardless of cap

In [43]:
data = pd.DataFrame({'food': ['bacon', 'pork chop', 'bacon', 'mortodella', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3.5, 5, 6]})
meat_to_animal = {'bacon': 'pig', 'pork chop': 'pig', 'mortodella': 'cow', 'corned beef': 'cow', 'honey ham': 'pig', 'nova lox': 'salmon', 'pastrami':'pig'}
lowercased = data['food'].str.lower()
data['animal'] = lowercased.map(meat_to_animal)
print(lowercased)
print(data)

0          bacon
1      pork chop
2          bacon
3     mortodella
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
          food  ounces  animal
0        bacon     4.0     pig
1    pork chop     3.0     pig
2        bacon    12.0     pig
3   mortodella     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.5     pig
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

find their category using map and lambda

In [45]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       pig
7       pig
8    salmon
Name: food, dtype: object

Crate a series and replace some values with Nan

In [46]:
data = pd.Series([1., -9999., 2., -9999., -10000., 3.])
data.replace(-9999, np.nan)
data.replace([-9999, -10000], np.nan)
data.replace([-9999, -10000], [np.nan, 0])
data.replace({-9999: np.nan, -10000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

Create a dataframe and change the labels

In [50]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Vancouver', 'Colorado', 'Albany'],
                    columns=['one', 'two', 'three', 'four'])
print(data)
transform = lambda x: x[:4].upper()
data.index = data.index.map(transform)
data.rename(index=str.title, columns=str.upper)
data.rename(index={'VANCOUVER': 'bluh'}, columns={'three': 'blah'})
data.rename(index={'VANCOUVER': 'bluh'}, inplace=True)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Albany      8    9     10    11

Categorize a list of num variable , assign each value to its coresponding num of another list, and provide counts for each.

In [53]:
ages = [29, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100, 120]
cats = pd.cut(ages, bins)
cats
cats.codes
cats.categories
pd.value_counts(cats)

C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\130543309.py:7: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

(18, 25]      4
(25, 35]      4
(35, 60]      3
(60, 100]     1
(100, 120]    0
Name: count, dtype: int64

Do the same with the param right=False

In [54]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3967516097.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(bluh)

[18, 26)     4
[26, 36)     4
[36, 61)     3
[61, 100)    1
Name: count, dtype: int64

Assign a category

In [57]:
group_names = ['young', 'kindayoung', 'old', 'reallyold', 'reallyreallyreallyold']
pd.cut(ages, bins, labels=group_names)

['kindayoung', 'young', 'young', 'kindayoung', 'young', ..., 'kindayoung', 'reallyold', 'old', 'old', 'kindayoung']
Length: 12
Categories (5, object): ['young' < 'kindayoung' < 'old' < 'reallyold' < 'reallyreallyreallyold']

Sort 20 numbers 0-1 into 4 even categries, by hundreth

In [60]:
data = np.random.rand(20)
cats = pd.cut(data, 4, precision=2)
pd.value_counts(cats)

C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3426537071.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

(0.51, 0.75]     7
(0.75, 0.99]     7
(0.034, 0.27]    3
(0.27, 0.51]     3
Name: count, dtype: int64

Sort 1000 numbers 0-1 into 4 equal count categries

In [59]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4)
pd.value_counts(cats)

C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3435752418.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(cats)

(-3.327, -0.68]    250
(-0.68, -0.039]    250
(-0.039, 0.643]    250
(0.643, 2.894]     250
Name: count, dtype: int64

Sort 1000 numbers 0-1 into the categries [0, 0.2, 0.5, 0.8, 1.] with labels

In [62]:
pd.qcut(data, [0, 0.2, 0.5, 0.8, 1.], labels=['C1', 'C2', 'C3', 'C4'])

['C2', 'C1', 'C3', 'C1', 'C3', ..., 'C2', 'C2', 'C1', 'C1', 'C3']
Length: 20
Categories (4, object): ['C1' < 'C2' < 'C3' < 'C4']

Make a dataframe with 4 rows of 1000 random nums, display the count, mean, std, min, 25%. 50%, 75%, and max of each row

In [66]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.014279     0.024929    -0.058604    -0.008578
std       1.003517     0.969250     0.985889     0.965904
min      -3.052969    -3.118234    -2.971328    -3.382817
25%      -0.676050    -0.608088    -0.748496    -0.630343
50%      -0.032994     0.041501    -0.096094     0.026271
75%       0.636450     0.675319     0.651423     0.655176
max       2.964775     2.592441     2.854873     3.094272

find where column 2 is greater than 3

In [64]:
col = data[2]
col[np.abs(col) > 3]

264    4.231731
956    3.480106
Name: 2, dtype: float64

find where any value in any row is greater than 3, return the entire row

In [70]:
data[(np.abs(data) > 3).any(axis=1)]

            0         1         2         3
285  1.592775  0.272276 -0.716932  3.094272
530 -3.052969 -2.285340  1.947620 -1.861829
574 -0.223145  0.457590 -1.358222 -3.382817
820  1.083279 -3.118234 -1.383561  0.891352

Find the -/+ of the first 5 rows

In [73]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0 -1.0
1  1.0  1.0 -1.0  1.0
2  1.0 -1.0 -1.0  1.0
3 -1.0 -1.0 -1.0 -1.0
4  1.0 -1.0 -1.0 -1.0

Create a 16 value array and shape into 4x4

In [76]:
df = pd.DataFrame(np.arange(4 * 4).reshape((4, 4)))
sampler = np.random.permutation(5)

Create a sampler with 4 random permutations

In [79]:
sampler = np.random.permutation(4)

Reindex the rows using the sampler above

In [80]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15

Return 2 random rows

In [85]:
df.sample(n=2)

    0   1   2   3
3  12  13  14  15
2   8   9  10  11

Create a series with and grab 10 values randomly

In [86]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)

Make a string into a list

In [ ]:
val = 'a,b, guido'
val.split(',')

Seperate each character and join them in different ways

In [87]:
pieces = [x.strip() for x in val.split(',')]
first, second, third = pieces
first + '::' + second + '::' + third
'::'.join(pieces)

NameError: name 'val' is not defined

find the index of , find the : find the number of , replace the , with :: replace the , with and empty str

In [ ]:
val.index(',')
val.find(':')
val.count(',')
val.replace(',', '::')
val.replace(',', '')

Using regular expression, split a string

In [88]:
import re
text = "bluh bar\t baz \tqux"
re.split('\s+', text)

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\2509305774.py:3: SyntaxWarning: invalid escape sequence '\s'
  re.split('\s+', text)

['bluh', 'bar', 'baz', 'qux']

Make it whole again then split using the same string

In [89]:
regex = re.compile('\s+')
regex.split(text)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Markus\AppData\Local\Temp\ipykernel_3872\3808692890.py:1: SyntaxWarning: invalid escape sequence '\s'
  regex = re.compile('\s+')

['bluh', 'bar', 'baz', 'qux']

Make some text

In [99]:
text = """Dave dave@google.com
Bob bob@gmail.com
Rob rob@gmail.com
Nob nob@yahoo.com
"""

Find the emails

In [100]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'bob@gmail.com', 'rob@gmail.com', 'nob@yahoo.com']

Find the first email by

In [101]:
m = regex.search(text)
text[m.start():m.end()]

'dave@google.com'

Print emails with REDACTED

In [102]:
print(regex.match(text))
print(regex.sub('REDACTED', text))

None
Dave REDACTED
Bob REDACTED
Rob REDACTED
Nob REDACTED

Using regex, seperate the parts of an email int oa tuple

In [104]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
regex = re.compile(pattern, flags=re.IGNORECASE)
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

Using the same regex, do it on the previeous emails

In [105]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('bob', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('nob', 'yahoo', 'com')]

Print the name, domain and suffix neatly

In [106]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Bob Username: bob, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Nob Username: nob, Domain: yahoo, Suffix: com

create some dic with names and emails, put into a series return the series with ony the first 5 characters of the email

In [107]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes': np.nan}
s = pd.Series(data)
s.isnull()
s.str.contains('gmail')
s.str.findall(pattern, flags=re.IGNORECASE)
matches = s.str.match(pattern, flags=re.IGNORECASE)
s.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object