## OBJECTIVE

Upon initial inspection of the data, we can start thinking of some
questions about it that we would want to answer.

1.  What is the overall sales trend?

2.  Which are the Top 10 products by sales?

3.  Which are the Most Selling Products?

4.  Which is the most preferred Ship Mode?

5.  Which are the Most Profitable Category and Sub-Category?

IMPORTING REQUIRED LIBRARIES

In [2]:
# Data Manipulation
import pandas as pd
# Data Visualisation
import matplotlib.pyplot as plt

C:\Users\Markus\AppData\Local\Temp\ipykernel_22552\3764066649.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

IMPORTING THE DATASET

In [4]:
# Importing dataset
df = pd.read_excel('./Superstore_sales.xlsx')

## DATA AUDIT
You can’t make your data work for you until you know what data you’re talking about.

To get a quick idea of what the data looks like, we can call the head function on the data frame. By default, this returns the top five rows, but it can take in a parameter of how many rows to return.

In [5]:
# First five rows of the dataset
df.head(5)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",NaN,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium,2011

In [6]:
# Last five rows of the dataset
df.tail(5)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.890,Medium,2014
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.490,Medium,2014
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.350,Medium,2014
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.199,Medium,2014
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.170,Medium,2014

In [7]:
# Shape of the dataset
df.shape

(51290, 21)

In [8]:
# Columns present in the dataset
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

This looks a lot like an Excel spreadsheet, doesn’t it? Under the hood, the data frame is a two-dimensional data structure and each column can have different types. To show that, we can call dtypes attribute on the data frame to see what each column types are.

In [9]:
# A concise summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51289 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

Next, we can look at some descriptive statistics of the data frame with
the describe method.

This shows some descriptive statistics on the data set. Notice, it only
shows the statistics on the numerical columns. From here you can see the
following statistics:

-   Row count, which aligns to what the shape attribute showed us.
-   The mean, or average.
-   The standard deviation, or how spread out the data is.
-   The minimum and maximum value of each column
-   The number of items that fall within the first, second, and third
    percentiles.

In [ ]:
# Generating descriptive statistics summary

Now we can do further analysis on our data to answer our questions.
Before that, we should see if there are any missing values in our data
set.To check if there are any missing values in the entire data set we
use the isnull function, then see if there are any values.

In [ ]:
# Checking missing values

# EXPLORATORY DATA ANALYSIS

1\. WHAT IS THE OVERALL SALES TREND?

In [10]:
df['sales']

0        408.300
1        120.366
2            NaN
3         44.865
4        113.670
          ...
51285     13.904
51286      3.990
51287     26.400
51288      7.120
51289      3.024
Name: sales, Length: 51290, dtype: float64

In [14]:
# Getting month year from order_date
df['sales'].mean()

246.49409795238745

In [15]:
df.loc[2, 'sales'] = df['sales'].mean()

In [17]:
df.isna().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

Data is now clean

In [19]:
df['month_year'] = df['order_date'].apply(lambda x : x.strftime('%Y-%m'))
df['month_year']

0        2011-01
1        2011-01
2        2011-01
3        2011-01
4        2011-01
          ...
51285    2014-12
51286    2014-12
51287    2014-12
51288    2014-12
51289    2014-12
Name: month_year, Length: 51290, dtype: object

In [20]:
pd.DataFrame(df.groupby('month_year').sales.sum())

                    sales
month_year
2011-01      99078.862958
2011-02      91152.156980
2011-03     145729.367360
2011-04     116915.764180
2011-05     146747.836100
2011-06     215207.380220
2011-07     115510.419120
2011-08     207581.491220
2011-09     290214.455340
2011-10     199071.264040
2011-11     298496.537520
2011-12     333925.734600
2012-01     135780.720240
2012-02     100510.216980
2012-03     163076.771160
2012-04     161052.269520
2012-05     208364.891240
2012-06     256175.698420
2012-07     145236.785120
2012-08     303142.942380
2012-09     289389.165640
2012-10     252939.850200
2012-11     323512.416900
2012-12     338256.966600
2013-01     199185.907380
2013-02     167239.650400
2013-03     198594.030120
2013-04     177821.316840
2013-05     260498.564700
2013-06     396519.611900
2013-07     229928.952000
2013-08     326488.789360
2013-09     376619.245680
2013-10     293406.642880
2013-11     373989.360100
2013-12     405454.378020
2014-01     241268.555660
2014-02     184837.355560
2014-03     263100.772620
2014-04     242771.861300
2014-05     288401.046140
2014-06     401814.063100
2014-07     258705.680480
2014-08     456619.942360
2014-09     481157.243700
2014-10     422766.629160
2014-11     555279.027000
2014-12     503143.693480

2\. WHICH ARE THE TOP 10 PRODUCTS BY SALES?

In [35]:
# Grouping products by sales
prod_sales = pd.DataFrame(df.groupby('product_name').sales.sum())
# Sorting the dataframe in descending order
prod_sales.sort_values(by='sales', ascending=False)[:10]

# Top 10 products by sales

                                                         sales
product_name
Apple Smart Phone, Full Size                        86935.7786
Cisco Smart Phone, Full Size                        76441.5306
Motorola Smart Phone, Full Size                     73156.3030
Nokia Smart Phone, Full Size                        71904.5555
Canon imageCLASS 2200 Advanced Copier               61599.8240
Hon Executive Leather Armchair, Adjustable          58193.4841
Office Star Executive Leather Armchair, Adjustable  50661.6840
Harbour Creations Executive Leather Armchair, A...  50121.5160
Samsung Smart Phone, Cordless                       48653.4600
Nokia Smart Phone, with Caller ID                   47877.7857

3\. WHICH ARE THE MOST SELLING PRODUCTS?

In [36]:
# Grouping products by Quantity
prod_sales = pd.DataFrame(df.groupby('product_name').quantity.sum())
# Sorting the dataframe in descending order
prod_sales.sort_values(by='quantity', ascending=False)[:10]

# Most selling products

                                       quantity
product_name
Staples                                     876
Cardinal Index Tab, Clear                   337
Eldon File Cart, Single Width               321
Rogers File Cart, Single Width              262
Sanford Pencil Sharpener, Water Color       259
Stockwell Paper Clips, Assorted Sizes       253
Avery Index Tab, Clear                      252
Ibico Index Tab, Clear                      251
Smead File Cart, Single Width               250
Stanley Pencil Sharpener, Water Color       242

4\. WHAT IS THE MOST PREFERRED SHIP MODE?

In [37]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,month_year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408.300000,2,0.0,106.1400,35.460,Medium,2011,2011-01
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120.366000,3,0.1,36.0360,9.720,Medium,2011,2011-01
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",246.494098,4,0.0,29.6400,8.170,High,2011,2011-01
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",44.865000,3,0.5,-26.0550,4.820,High,2011,2011-01
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",113.670000,5,0.1,37.7700,4.700,Medium,2011,2011-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904000,2,0.2,4.5188,0.890,Medium,2014,2014-12
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990000,1,0.0,0.4200,0.490,Medium,2014,2014-12
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400000,3,0.0,12.3600,0.350,Medium,2014,2014-12
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120000,1,0.0,0.5600,0.199,Medium,2014,2014-12
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3.024000,3,0.2,-0.6048,0.170,Medium,2014,2014-12

In [44]:
df.groupby('ship_mode').order_id.count()

ship_mode
First Class        7505
Same Day           2701
Second Class      10309
Standard Class    30775
Name: order_id, dtype: int64

5\. WHICH ARE THE MOST PROFITABLE CATEGORY AND SUB-CATEGORY?

In [61]:
# Grouping products by Category and Sub-Category
df.groupby(['category', 'sub_category']).sum('profit')['profit']
# Sorting the values

category         sub_category
Furniture        Bookcases       161924.41950
                 Chairs          141973.79750
                 Furnishings      46967.42550
                 Tables          -64083.38870
Office Supplies  Appliances      141680.58940
                 Art              57953.91090
                 Binders          72449.84600
                 Envelopes        29601.11630
                 Fasteners        11525.42410
                 Labels           15010.51200
                 Paper            59207.68270
                 Storage         108461.48980
                 Supplies         22583.26310
Technology       Accessories     129626.30620
                 Copiers         258567.54818
                 Machines         58867.87300
                 Phones          216717.00580
Name: profit, dtype: float64